In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sbn
import graphviz 
import pandas as pd
from pandas_profiling import ProfileReport


# Graficar inline
%matplotlib inline

In [56]:
estud =  pd.read_csv('./data/StudentsPerformance.csv', sep=',', engine='python')

In [57]:
from pandas_profiling import ProfileReport
prof = ProfileReport(estud)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [58]:
estud

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [113]:
estud = estud.rename(columns={'writing score':'writing_score','parental level of education':'parental_level_of_education','math score':'math_score',
                             'reading score':'reading_score','test preparation course':'test_preparation_course'})

In [114]:
estud.dtypes

gender                         object
race/ethnicity                 object
parental_level_of_education    object
lunch                          object
test_preparation_course        object
math_score                      int64
reading_score                   int64
writing_score                   int64
dtype: object

In [ ]:
mat=estud['math score'].mean()
read=estud['reading score'].mean()
wrt=estud['writing score'].mean()

lista= estud

In [ ]:
x_values = 'Matematicas','Lectura','Escritura'
y_values = mat ,read, wrt
plt.bar(x_values, y_values)
plt.show()
plt.close('all')

In [ ]:
##¿En qué asignatura en promedio los estudiantes obtuvieron un mejor puntaje? = Lectura. con un promedio de 69.169

In [ ]:
#Correlation Matrix   
corr = estud.corr()

#print("\nCorrelation matrix:\n")
#print(corr)

#Correlation plot
fig = plt.figure(figsize=(7, 7))
plt.matshow(corr, fignum=fig.number)
plt.xticks(range(len(corr.columns)), corr.columns,fontsize=20, rotation=45);
plt.yticks(range(len(corr.columns)), corr.columns,fontsize=20, rotation=45);
cb = plt.colorbar()
cb.ax.tick_params(labelsize=8)
plt.show()

In [ ]:
##¿Existe alguna correlación entre los puntajes obtenidos en las tres asignaturas? 
##como se puede ver la correlacion entre writing score y reading score es considerablemente notable

In [88]:
lista = estud[['gender','math score']]

In [96]:

##lista.drop(['race/ethnicity', 'parental level of education', 'lunch','test preparation course','writing score','reading score'], axis=1)
listaM = lista[lista.gender == 'male']
listaF = lista[lista.gender == 'female']
prom=listaM['math score'].mean()
print('El promedio de los estudiantes hombres en matematias es de: '+str(listaM['math score'].mean()))

El promedio de los estudiantes hombres en matematias es de: 68.72821576763485

In [97]:
print('El promedio de los estudiantes mujeres en matematias es de: '+str(listaF['math score'].mean()))

El promedio de los estudiantes mujeres en matematias es de: 63.633204633204635

In [98]:
##¿Hay alguna diferencia observable en los puntajes de la asignatura de
##matemáticas entre hombres y mujeres? ¿Quiénes, hombres o mujeres, tienen la
##mediana más alta para esta misma asignatura? 
##Los hombres tienen un promedio de 68.72821576763485 considerablemente mayor al de las mujeres en matematicas

In [118]:
nivel = estud[estud.writing_score > 90]
nivel['parental_level_of_education'].value_counts()

associate's degree    19
some college          18
bachelor's degree     15
master's degree       10
some high school       5
high school            1
Name: parental_level_of_education, dtype: int64

In [119]:
## ¿Qué nivel de escolaridad tienen los padres de los estudiantes que obtuvieron
##un puntaje superior a 90 en la asignatura de escritura? Liste los niveles de
##escolaridad del más al menos frecuente.


## El nivel con mayor frecuencia es 'associate's degree'

In [134]:
estudPro = estud[estud.writing_score >= 90]
estudPro= estudPro[estudPro.reading_score >= 90]
estudPro= estudPro[estudPro.math_score >= 90]

In [136]:
estudProE=estudPro[estudPro.test_preparation_course == 'completed']

In [151]:
porEstudP = estudPro.shape[0]
porEstudP = (porEstudP /estud.shape[0]) * 100
porEstudP

2.8000000000000003

In [155]:
porEstudPE= estudProE.shape[0]
porEstudPE= (porEstudPE /estud.shape[0]) * 100
porEstudPE

1.7000000000000002

In [ ]:
##¿Qué porcentaje de los estudiantes obtuvieron puntajes iguales o superiores a
##90 en las tres asignaturas? ¿Qué porcentaje de los estudiantes obtuvieron
##puntajes iguales o superiores a 90 en las tres asignaturas y que adicionalmente
##estudiaron para los exámenes?

In [156]:
print('el porcentaje de estudiantes que sacaron 90 en las 3 asignaturas es : '+str(porEstudP))

el porcentaje de estudiantes que sacaron 90 en las 3 asignaturas es : 2.8000000000000003

In [157]:
print('el porcentaje de estudiantes que sacaron 90 en las 3 asignaturas y que estudiaron para los examenes fue de: '+str(porEstudPE))

el porcentaje de estudiantes que sacaron 90 en las 3 asignaturas y que estudiaron para los examenes fue de: 1.7000000000000002